Package: camlet
Version: 0.0.0
Section: video
Priority: optional
Architecture: amd64
Essential: no
Maintainer: pommicket <pommicket@gmail.com>
Description: Take pictures and videos with a webcam
Installed-Size: 156024
Depends: libsdl2-2.0-0, libv4l-0, libudev1, libsodium23, libfontconfig1, libsdl2-ttf-2.0-0, libjpeg62-turbo, libavcodec59, libavformat59
Homepage: https://github.com/pommicket/camlet
